<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
	backupGlobals="false" colors="true" bootstrap='./vendor/autoload.php'>
	<php>
		<ini name="error_reporting" value="-1" />
	</php>

	<testsuites>
		<testsuite name="all">
			<directory suffix="UnitTest.php">./</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory>./vendor/mezon</directory>
			<exclude>
				<directory>./vendor/composer</directory>
				<directory suffix="Mock.php">./vendor/mezon</directory>
				<directory>./vendor/mezon/*/Tests</directory>
				<directory>./vendor/mezon/*/Mezon/Tests</directory>
				<directory>./vendor/mezon/*/Mezon/*/Tests</directory>
				<directory>./vendor/mezon/*/Mezon/*/*/Tests</directory>
				<file>./vendor/mezon/application/Mezon/Application/Tests/TestApplication.php</file>
				<file>./vendor/mezon/service-transport/Mezon/Service/Tests/ConcreteFetcher.php</file>
				<file>./vendor/mezon/request-params/Mezon/Transport/Tests/MockParamsFetcher.php</file>
				<file>./vendor/mezon/application-actions/Mezon/Application/Tests/TestExtendingApplication.php</file>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html"
			target="./tmp/coverage-phpunit.html"></log>
		<log type="coverage-text" target="php://stdout"
			showOnlySummary="true"></log>
		<log type="coverage-xml" target="./tmp/coverage-phpunit.xml" />
	</logging>
</phpunit>